# Rust
/target/
**/*.rs.bk
Cargo.lock

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.lock

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Generated
*.g.dart
*.freezed.dart
